{% extends 'base4.html.twig' %}

{% block body %}
    <h1>Droits refusés</h1>

    <p>
        Vous n'avez pas les droits pour accéder à cette page.
       <a href="{{ path('homepage') }}">Retour à l'accueil</a>.
    </p>
{% endblock %}